data preprocessing and cleaning

1. import required libraries

In [ ]:
import pandas as pd
import numpy as np

2.load raw dataset

In [ ]:
df = pd.read_csv("profit_leakage_large_dataset.csv")
df.head()

,order_id,order_date,customer_id,customer_type,region,sales_channel,product_id,product_category,unit_cost,unit_price,...,refund_amount,inventory_level,reorder_level,holding_cost,payment_delay_days,outstanding_amount,supplier_delay_days,logistics_cost,operational_cost,profit_margin_percent
0,1,2022-01-01 00:00:00,16795,Retail,North,Distributor,435,Automobile,4829.88,888.93,...,0.0,483,189,33.15,18,0.000000,24,659.09,78.99,-455.20
1,2,2022-01-01 00:01:00,1860,Corporate,North,Distributor,235,Pharma,3173.46,4089.16,...,0.0,11,182,208.42,10,0.000000,29,871.93,278.40,-0.05
2,3,2022-01-01 00:02:00,39158,Wholesale,East,Online,729,Electronics,3498.54,3923.52,...,0.0,260,183,346.40,69,71721.553248,11,946.05,1743.35,7.04
3,4,2022-01-01 00:03:00,45732,Retail,South,Distributor,1939,Furniture,628.06,851.16,...,0.0,202,53,43.85,41,4085.993580,17,833.95,716.21,22.22
4,5,2022-01-01 00:04:00,12284,Retail,North,Online,1670,Pharma,1257.04,3229.26,...,0.0,152,185,19.90,21,0.000000,25,540.11,1732.09,32.47

3.dataset shape

In [6]:
df.shape

(100000, 28)

4.dataset information

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   order_id               100000 non-null  int64
 1   order_date             100000 non-null  object
 2   customer_id            100000 non-null  int64
 3   customer_type          100000 non-null  object
 4   region                 100000 non-null  object
 5   sales_channel          100000 non-null  object
 6   product_id             100000 non-null  int64
 7   product_category       100000 non-null  object
 8   unit_cost              100000 non-null  float64
 9   unit_price             100000 non-null  float64
 10  quantity_sold          100000 non-null  int64
 11  revenue                100000 non-null  float64
 12  cost                   100000 non-null  float64
 13  discount_percent       100000 non-null  float64
 14  discount_amount        100000 non-null  float64
 15  net_revenue            100000 non-null  float64
 16  profit                 100000 non-null  float64
 17  return_flag            100000 non-null  int64
 18  refund_amount          100000 non-null  float64
 19  inventory_level        100000 non-null  int64
 20  reorder_level          100000 non-null  int64
 21  holding_cost           100000 non-null  float64
 22  payment_delay_days     100000 non-null  int64
 23  outstanding_amount     100000 non-null  float64
 24  supplier_delay_days    100000 non-null  int64
 25  logistics_cost         100000 non-null  float64
 26  operational_cost       100000 non-null  float64
 27  profit_margin_percent  100000 non-null  float64
dtypes: float64(14), int64(9), object(5)
memory usage: 21.4+ MB

5.statistical summary

In [8]:
df.describe()

,order_id,customer_id,product_id,unit_cost,unit_price,quantity_sold,revenue,cost,discount_percent,discount_amount,...,refund_amount,inventory_level,reorder_level,holding_cost,payment_delay_days,outstanding_amount,supplier_delay_days,logistics_cost,operational_cost,profit_margin_percent
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000
mean,50000.500000,25425.890620,1048.824360,2528.185378,4047.746859,9.998520,40414.145656,25277.563594,20.017497,8106.006286,...,2622.015912,248.813620,124.288710,254.629046,44.525120,21169.107232,14.51877,510.969423,1024.923586,-65.841639
std,28867.657797,14109.659287,548.905354,1426.069829,2287.601470,5.476367,34183.022732,21319.626407,11.562335,9195.507654,...,11929.066851,144.171287,43.341414,141.360219,25.967908,27358.899457,8.64648,283.203815,564.424196,327.480790
min,1.000000,1000.000000,100.000000,50.020000,80.050000,1.000000,83.810000,50.890000,0.000000,0.000000,...,0.000000,0.000000,50.000000,10.000000,0.000000,0.000000,0.00000,20.020000,50.000000,-5903.380000
25%,25000.750000,13234.750000,574.000000,1295.332500,2068.602500,5.000000,12259.355000,7736.542500,9.980000,1475.656245,...,0.000000,125.000000,87.000000,132.340000,22.000000,0.000000,7.00000,264.755000,534.872500,-43.990000
50%,50000.500000,25295.500000,1049.000000,2529.535000,4045.570000,10.000000,30838.365000,19305.275000,20.040000,4652.561083,...,0.000000,248.000000,124.000000,254.205000,45.000000,8963.868977,14.00000,512.370000,1022.865000,16.510000
75%,75000.250000,37612.250000,1524.000000,3761.725000,6028.655000,15.000000,61199.765000,38226.195000,30.050000,11467.804957,...,0.000000,374.000000,162.000000,376.792500,67.000000,34086.048948,22.00000,755.772500,1515.862500,48.030000
max,100000.000000,49998.000000,1999.000000,4999.960000,7999.980000,19.000000,151936.920000,94985.560000,40.000000,59411.987300,...,147923.448084,499.000000,199.000000,500.000000,89.000000,149618.027076,29.00000,999.990000,1999.990000,99.080000

6.check missing values

In [9]:
df.isnull().sum()

order_id                 0
order_date               0
customer_id              0
customer_type            0
region                   0
sales_channel            0
product_id               0
product_category         0
unit_cost                0
unit_price               0
quantity_sold            0
revenue                  0
cost                     0
discount_percent         0
discount_amount          0
net_revenue              0
profit                   0
return_flag              0
refund_amount            0
inventory_level          0
reorder_level            0
holding_cost             0
payment_delay_days       0
outstanding_amount       0
supplier_delay_days      0
logistics_cost           0
operational_cost         0
profit_margin_percent    0
dtype: int64

7.check duplicate records

In [10]:
df.duplicated().sum()

np.int64(0)

8.datatype correction

In [11]:
df["order_date"] = pd.to_datetime(df["order_date"])

9.business logic validation

In [12]:
df["profit_check"] = df["net_revenue"] - df["cost"]

In [13]:
(df["profit"] - df["profit_check"]).abs().mean()

np.float64(1.4333001951971625e-12)

10.remove temporary column

In [14]:
df.drop(columns=["profit_check"], inplace=True)

11.final dataset check

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   order_id               100000 non-null  int64
 1   order_date             100000 non-null  datetime64[ns]
 2   customer_id            100000 non-null  int64
 3   customer_type          100000 non-null  object
 4   region                 100000 non-null  object
 5   sales_channel          100000 non-null  object
 6   product_id             100000 non-null  int64
 7   product_category       100000 non-null  object
 8   unit_cost              100000 non-null  float64
 9   unit_price             100000 non-null  float64
 10  quantity_sold          100000 non-null  int64
 11  revenue                100000 non-null  float64
 12  cost                   100000 non-null  float64
 13  discount_percent       100000 non-null  float64
 14  discount_amount        100000 non-null  float64
 15  net_revenue            100000 non-null  float64
 16  profit                 100000 non-null  float64
 17  return_flag            100000 non-null  int64
 18  refund_amount          100000 non-null  float64
 19  inventory_level        100000 non-null  int64
 20  reorder_level          100000 non-null  int64
 21  holding_cost           100000 non-null  float64
 22  payment_delay_days     100000 non-null  int64
 23  outstanding_amount     100000 non-null  float64
 24  supplier_delay_days    100000 non-null  int64
 25  logistics_cost         100000 non-null  float64
 26  operational_cost       100000 non-null  float64
 27  profit_margin_percent  100000 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(9), object(4)
memory usage: 21.4+ MB

In [16]:
df.head()

,order_id,order_date,customer_id,customer_type,region,sales_channel,product_id,product_category,unit_cost,unit_price,...,refund_amount,inventory_level,reorder_level,holding_cost,payment_delay_days,outstanding_amount,supplier_delay_days,logistics_cost,operational_cost,profit_margin_percent
0,1,2022-01-01 00:00:00,16795,Retail,North,Distributor,435,Automobile,4829.88,888.93,...,0.0,483,189,33.15,18,0.000000,24,659.09,78.99,-455.20
1,2,2022-01-01 00:01:00,1860,Corporate,North,Distributor,235,Pharma,3173.46,4089.16,...,0.0,11,182,208.42,10,0.000000,29,871.93,278.40,-0.05
2,3,2022-01-01 00:02:00,39158,Wholesale,East,Online,729,Electronics,3498.54,3923.52,...,0.0,260,183,346.40,69,71721.553248,11,946.05,1743.35,7.04
3,4,2022-01-01 00:03:00,45732,Retail,South,Distributor,1939,Furniture,628.06,851.16,...,0.0,202,53,43.85,41,4085.993580,17,833.95,716.21,22.22
4,5,2022-01-01 00:04:00,12284,Retail,North,Online,1670,Pharma,1257.04,3229.26,...,0.0,152,185,19.90,21,0.000000,25,540.11,1732.09,32.47

save cleaned dataset

In [18]:
df.to_csv("profit_leakage_cleaned.csv", index=False)